# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

backend/public
node_modules
dist
dist-ssr
*.local
._*

# Editor directories and files
.idea
.venv
.DS_Store
.*cache
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tailwind_temp.css